<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.distillery.android.blueprints.compose">

    <application>
        <activity android:name=".ComposeActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            />
    </application>

</manifest>